* {
    margin: 0;
  }
  
  body{
    scroll-behavior: smooth;
  }
  
  .nav {
    width: 100%;
    position: absolute;
    font-size: 15px;
    height: 20vh;
    background-color: rgb(200, 200, 200);
    align-items: center;
  }
  
  .nav-item a {
    color: rgb(255, 198, 198)8;
  }
  
  .nav-item a:hover {
    color: rgb(198, 197, 197);
  }
  
  #back{
    height: 100vh;
    background-position: center;
    background-image: url('https://2.bp.blogspot.com/-2IONhSHQOyE/UxVtuibpBjI/AAAAAAAAKs4/OpWYzTzMdxE/s1600/Alam02.jpg');
    margin-bottom: 10px;
  
  }
  
  p {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color:hotpink ;
  }
  
  img {
    animation: rotateColors 5s infinite linear;
    cursor: pointer;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    transition: transform 0.3s ease, border-color 0.3s ease, opacity 0.3s ease;
  }
  
  img:hover{
    border-color: rgb(242, 159, 245);
  }
  
  img:active {
    transform: scale(1.5);
  }
